{% extends 'SportsBettingBundle:Bet:layout.html.twig' %}
{% block header %}
    <div ui-view="header"></div>
{% endblock %}
{% block left_aside_content_wrapper %}
    <div class="container-fluid">
        {% block left_aside %}
            <div ui-view="left_aside"></div>
        {% endblock %}
        {% block content %}
            <div ui-view="content"></div>
        {% endblock %}
    </div>
{% endblock %}
{% block footer %}
    <div ui-view="footer"></div>
{% endblock %}

