{% extends 'SportsBettingBundle::base.html.twig' %}

    {% block header class="" %}
<header class="">
    <h1>My Application</h1>
    <h1>HEADER</h1>
</header>

{% endblock %}

    {% block left_aside %}

    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
